<div>

  <form action="">
    <input type="text" name="search">
    <input type="submit" value="buscale paps">
  </form>

  <a href="/books/new">Agrega un nuevo librito ...</a>

  {{#each books}}
    <p>
      <a href="/books/detail/{{this._id}}">{{this.title}}</a>
    </p>
  {{/each}}
</div>